/* vim: set expandtab tabstop=4 shiftwidth=4: */

/**
 * Drop Down Menu for mobile use
 */
select.menu.dropdown-menu {
    font-weight: bold;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    line-height: 3.333em;
    /*background: -moz-linear-gradient(#383838, #272727) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#383838, #272727) repeat scroll 0 0 transparent;*/
/*background-color: green;*/
    width: 100%;
    padding: 4px;
    border: none;
    color: #eeeeee;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    
}    

#mobile-menus {
    display: none;
    width: auto;
    margin: 0 auto;
    background-color: #333;
    clear: both;
    padding: 2px 3%;
}

div.chzn-container {
    /*margin-top: 5px;*/
    width: 90%;
    margin: 0 auto;

}

select.menu.dropdown-menu {
    background-color: #333;
    margin-top: 3px;
}

/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 1023px) {
    #mobile-menus {
        display: block;
    }
}

@media (max-width: 650px) {
}

@media (max-width: 450px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    select.menu.dropdown-menu {
        padding: 2px;
        -webkit-appearance: none;
    }
}

/* =Print
----------------------------------------------- */

@media print {
}
